<div class="about-us">
  <h2>About Us</h2>
  <p>Raatai Handloom is the culmination of a journey steeped in tradition and driven by innovation. Born from a family
    legacy of weaving, our mission began when we recognized the challenges faced by artisans in our hometown. As former
    software engineers turned advocates for change, we saw an opportunity to revolutionize the age-old craft.</p>
  <img src="../../../assets/img/product1.webp" class="image" alt="">
  <p>Our commitment extends beyond mere manufacturing; we're on a mission to democratize weaving. By offering minimum
    quantities of yarns and teaching weaving as a DIY skill, we empower individuals to reconnect with their roots and
    unleash their creativity.</p>
  <p>Supported by StartupTN, we secured seed funding that propelled us forward. Today, incubated at NSRCEL, IIM
    Bangalore, Raatai Handloom stands as a symbol of innovation and tradition.</p>
  <p>Join us as we redefine weaving for the modern age, one thread at a time.</p>
  <ul class="services">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
        <path
          d="M15.2 11.467H8.8v4.266h6.4v-4.266zM9.867 11.467V9.333A2.134 2.134 0 0112 7.2v0a2.133 2.133 0 012.133 2.133v2.134"
          stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M18.4 13.6a6.4 6.4 0 11-12.8 0V5.067L12 4l6.4 1.067V13.6z" stroke="currentColor" stroke-width="1.2"
          stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      <li>Secure Payments</li>
    </div>
    <div>
      <svg width="36" height="36" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.244 17.664H22V11.56l-3.286-.94-1.878-5.164H9.15v12.207" stroke="currentColor" stroke-width="1.2"
          stroke-linecap="round" stroke-linejoin="round"></path>
        <circle cx="14.019" cy="17.195" r="2.347" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
          stroke-linejoin="round"></circle>
        <path d="M12.61 7.336v3.756h3.756" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path d="M6.39 5.457H2M6.449 9.86H3.368M6.449 14.258h-1.32" stroke="currentColor" stroke-width="1.2"
          stroke-miterlimit="10" stroke-linecap="round"></path>
      </svg>
      <li>Shipping in India</li>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="text-label">
        <path
          d="M9.333 19.733h8a1.885 1.885 0 001.867-1.6l.8-6.4a1.572 1.572 0 00-1.6-1.6h-4.8V7.755a4.836 4.836 0 00-1.412-3.21 1.07 1.07 0 00-1.788.788v3.2l-3.2 3.734"
          stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></path>
        <path d="M7.2 10.667H4v9.066h3.2v-9.066z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
          stroke-linecap="square"></path>
      </svg>
      <li>Great Value & Quality</li>
    </div>
  </ul>
</div>