<div class="main" *ngIf="!isAdmin">
  <div class="navbar">
    <a [routerLink]="'/home'">
      <img src="../../../assets/img/logo.webp" alt="Raattai" class="logo" />
    </a>
    <div class="show">
      <ul class="nav_menu">
        <li><a [routerLink]="'/shop'">Shop</a></li>
        <li><a [routerLink]="'/home/services'">Services</a></li>
        <li><a [routerLink]="'/home/about-us'">About Us</a></li>
        <li><a [routerLink]="'/home/contact-us'">Contact Us</a></li>
      </ul>
      <div class="nav_login_cart" >
        <div [routerLink]="'/shop/cart'">
          <div class="nav_cart">
            <a><mat-icon >shopping_cart</mat-icon></a>
          </div>
          <div class="nav_cart_count">{{cartCount}}</div>
        </div>
        
        <a>
          <div class="search">
            <mat-icon
              aria-hidden="false"
              aria-label="Search icon"
              fontIcon="search"
            ></mat-icon>
          </div>
        </a>
        <div class="user" >
          <a>
            <mat-icon
              aria-hidden="false"
              aria-label="User icon"
              fontIcon="account_circle"
              ></mat-icon>
          </a>
          <span class="user-status" *ngIf="!loggedIn" [routerLink]="'/login'" >Login</span>
          <span class="user-status" *ngIf="loggedIn" (click)="logout()">Logout</span>
        </div>
      </div>
    </div>
    <div class="menu_icon" (click)="toggleMobileMenu()">
      <mat-icon aria-hidden="false" aria-label="Menu icon" fontIcon="menu"></mat-icon>
    </div>
  </div>
  <div class="mobile_view" *ngIf="isMobileMenuVisible">
    <div class="close_icon" (click)="toggleMobileMenu()">
      <mat-icon aria-hidden="false" aria-label="Close icon" fontIcon="close"></mat-icon>
    </div>
    <ul class="mobile_nav_menu">
      <li><a [routerLink]="'/shop'"  (click)="toggleMobileMenu()">Shop</a></li>
      <li><a (click)="toggleMobileMenu()">Services</a></li>
      <li><a (click)="toggleMobileMenu()">Blog</a></li>
      <li>
        <a (click)="toggleMobileMenu()">
          <div class="search">
            <mat-icon
              aria-hidden="false"
              aria-label="Search icon"
              fontIcon="search"
            ></mat-icon>
          </div>
        </a>
      </li>
      <li>
        <a (click)="toggleMobileMenu()" [routerLink]="'/login'">
          <div class="user">
            <mat-icon
              aria-hidden="false"
              aria-label="User icon"
              fontIcon="account_circle"
            ></mat-icon>
          </div>
        </a>
      </li>
      <li>
        <a (click)="toggleMobileMenu()"  [routerLink]="'/shop/cart'">
          <div class="nav_cart">
            <mat-icon>shopping_cart</mat-icon>
            <div class="nav_cart_count">{{cartCount}}</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>



<div class="main" *ngIf="isAdmin">
  <div class="navbar">
    <a [routerLink]="'/home'">
      <img src="../../../assets/img/logo.webp" alt="Raattai" class="logo" />
    </a>
    <div class="show">
      <ul class="nav_menu">
        <li><a [routerLink]="'/shop'">Products</a></li>
        <li><a [routerLink]="'/home/services'">Stocks</a></li>
        <li><a [routerLink]="'/home/about-us'">Orders</a></li>
        <li><a [routerLink]="'/home/contact-us'">Enquiries</a></li>
      </ul>
      <div class="nav_login_cart" >
        <!-- <div [routerLink]="'/shop/cart'">
          <div class="nav_cart">
            <a><mat-icon >shopping_cart</mat-icon></a>
          </div>
          <div class="nav_cart_count">{{cartCount}}</div>
        </div> -->
        
        <a>
          <div class="search">
            <mat-icon
              aria-hidden="false"
              aria-label="Search icon"
              fontIcon="search"
            ></mat-icon>
          </div>
        </a>
        <div class="user" >
          <a>
            <mat-icon
              aria-hidden="false"
              aria-label="User icon"
              fontIcon="account_circle"
              ></mat-icon>
          </a>
          <span class="user-status" *ngIf="!loggedIn" [routerLink]="'/login'" >Login</span>
          <span class="user-status" *ngIf="loggedIn" (click)="logout()">Logout</span>
        </div>
      </div>
    </div>
    <div class="menu_icon" (click)="toggleMobileMenu()">
      <mat-icon aria-hidden="false" aria-label="Menu icon" fontIcon="menu"></mat-icon>
    </div>
  </div>
  <div class="mobile_view" *ngIf="isMobileMenuVisible">
    <div class="close_icon" (click)="toggleMobileMenu()">
      <mat-icon aria-hidden="false" aria-label="Close icon" fontIcon="close"></mat-icon>
    </div>
    <ul class="mobile_nav_menu">
      <li><a [routerLink]="'/shop'"  (click)="toggleMobileMenu()">Products</a></li>
      <li><a (click)="toggleMobileMenu()">Stocks</a></li>
      <li><a (click)="toggleMobileMenu()">Enquiries</a></li>
      <li>
        <a (click)="toggleMobileMenu()">
          <div class="search">
            <mat-icon
              aria-hidden="false"
              aria-label="Search icon"
              fontIcon="search"
            ></mat-icon>
          </div>
        </a>
      </li>
      <li>
        <a (click)="toggleMobileMenu()" [routerLink]="'/login'">
          <div class="user">
            <mat-icon
              aria-hidden="false"
              aria-label="User icon"
              fontIcon="account_circle"
            ></mat-icon>
          </div>
        </a>
      </li>
      
    </ul>
  </div>
</div>
