<div class="main">
  <div class="navbar">
    <a [routerLink]="'/home'">
      <img src="../../../assets/img/logo.webp" alt="Raattai" class="logo" />
    </a>
    <div class="show">
      <ul class="nav_menu">
        <li><a [routerLink]="'/shop'">Shop</a></li>
        <li><a>Services</a></li>
        <li><a>Blog</a></li>
      </ul>
      <div class="nav_login_cart" [routerLink]="'/shop/cart'">
        <div class="nav_cart">
          <a><mat-icon  >shopping_cart</mat-icon></a>
        </div>
        <div class="nav_cart_count">{{cartCount}}</div>
        <a>
          <div class="search">
            <mat-icon
              aria-hidden="false"
              aria-label="Search icon"
              fontIcon="search"
            ></mat-icon>
          </div>
        </a>
        <div class="user">
          <a>
            <mat-icon
              aria-hidden="false"
              aria-label="User icon"
              fontIcon="account_circle"
              [routerLink]="'/login'"></mat-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="menu_icon" (click)="toggleMobileMenu()">
      <mat-icon aria-hidden="false" aria-label="Menu icon" fontIcon="menu"></mat-icon>
    </div>
  </div>
  <div class="mobile_view" *ngIf="isMobileMenuVisible">
    <div class="close_icon" (click)="toggleMobileMenu()">
      <mat-icon aria-hidden="false" aria-label="Close icon" fontIcon="close"></mat-icon>
    </div>
    <ul class="mobile_nav_menu">
      <li><a [routerLink]="'/shop'"  (click)="toggleMobileMenu()">Shop</a></li>
      <li><a (click)="toggleMobileMenu()">Services</a></li>
      <li><a (click)="toggleMobileMenu()">Blog</a></li>
      <li>
        <a (click)="toggleMobileMenu()">
          <div class="search">
            <mat-icon
              aria-hidden="false"
              aria-label="Search icon"
              fontIcon="search"
            ></mat-icon>
          </div>
        </a>
      </li>
      <li>
        <a (click)="toggleMobileMenu()" [routerLink]="'/login'">
          <div class="user">
            <mat-icon
              aria-hidden="false"
              aria-label="User icon"
              fontIcon="account_circle"
            ></mat-icon>
          </div>
        </a>
      </li>
      <li>
        <a (click)="toggleMobileMenu()"  [routerLink]="'/shop/cart'">
          <div class="nav_cart">
            <mat-icon>shopping_cart</mat-icon>
            <div class="nav_cart_count">{{cartCount}}</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
