.container {
    background-color: #fff;
    padding: 6vh 0;
    text-align: center;
}

.main_heading {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.main_product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
}

.products {
    width: 19rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(235, 243, 243);
    box-shadow: rgba(131, 131, 131, 0.2) 0px 10px 15px;
    transition: transform 0.3s ease-in-out;
}

.products:hover {
    transform: scale(1.05);
}

.productCard {
    padding: 15px;
}

.productCard .image img {
    max-width: 100%;
    height: 10rem !important;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.desc h1 {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width:1170px) {
    .main_product{
        gap: 3rem;
    }
}
