.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    border: none;
    color: #A94724;
}

.container {
    text-align: center;
    background: #fff;
    margin-top: 1rem;
    width: 30rem;
    color: #A94724;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}



h1 {
    font-size: 24px;
    margin: 20px 0;
}


.code-input {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.code-input input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.verify-btn {
    background-color: #db683e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.verify-btn:hover {
    background-color: #A94724;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.actions button {
    background: none;
    border: none;
    color: #A94724;
    cursor: pointer;
    font-size: 14px;
}

.lock-icon {
    font-size: 3rem;
}

h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.passInput {
    margin-top: 15px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #a94724;
    font-size: 15px;
    outline: none;
}

button {
    margin-top: 1rem;
    padding: .7rem;
    width: 7rem;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #db683e;
    font-size: 14px;
}

button:hover {
    background-color: #A94724;
}