.successIcon {
    height: 32px;
    width: 32px;
}

.successContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #A94724;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: fit-content;
    padding: 1rem;
}

.back {
    width: fit-content;
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    border: 2px solid #A94724;

    a {
        text-decoration: none;
        color: #A94724;
    }
}

.back:hover {
    background-color: #A94724;

    a {
        color: #ffffff;
    }
}